<p>
	<strong>
		<%= @recipe.title %>
	</strong>
</p>
<p>
	<%= @recipe.description %>
</p> 
<%= link_to 'Back', root_path %> |
<%= link_to 'Edit', edit_recipe_path %> |
<%= link_to 'Delete',recipe_path(@recipe), method: :delete, data: {confirm: 'Are you sure?'} %> 
